<%= form_for(@zombie) do |f| %>
  <% if @zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% @zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  
  <% if current_zombie.admin? %>
    <div class="field">
      <%= f.label :roles %><br>
      <% @roles.each do |r| %>
        <% if @zombie.roles_list.include? r.title %>
          <input type="checkbox" name="role_ids[]" value="<%= r.id %>" checked />
        <% else %>
          <input type="checkbox" name="role_ids[]" value="<%= r.id %>" />
        <% end %>
        <%= r.title %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
