<!DOCTYPE html>
<html>
<head>

  <% flash.each do |name, msg| %>
  <%
    if name == "notice" 
      name = "success"
    elsif !(["success", "danger"].include?(name))
      name = "info"
    end
  %>
  <div class="alert alert-<%= name %> alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= msg %>
  </div>
<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag 'zombie_icon.jpg', height: "40px" %>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Zombies', zombies_path %></li>
        <% if current_zombie && current_zombie.admin? %>
          <li><%= link_to 'Roles', roles_path %></li>
        <% end %>
      </ul>

      <%= form_tag(articles_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Articles", class: "form-control" %>
      <%= submit_tag "Submit", class: "btn btn-default" %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @welcome_text %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to('My Profile', current_zombie) %></li>
            <li role="separator" class="divider"></li>
            <% if current_zombie %>
              <li><%= link_to('Logout', destroy_zombie_session_path, :method => :delete) %> </li>
            <% else %>
              <li><%= link_to('Login', new_zombie_session_path) %> </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		
  <title>TwitterJoyce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="whole_thing">

<%= yield %>

</body>
</html>
